{{ define "content"}}
{{- $paginator := .Paginate .Data.Pages.ByDate.Reverse 10 }}
<div class="res-cons">
    {{ range $index,$data := $paginator.Pages }}
    {{ if not .Params.hidden }}
    <article class="post">
        <header>
            <h1 class="post-title">
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
        </header>
        <date class="post-meta meta-date">
            {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
        </date>
        {{ with .Params.Categories }}
        <div class="post-meta">
            <span>|</span>
            {{ range . }}
            <span class="meta-category"><a href='{{ "categories/" | relURL }}{{ . | urlize }}.html'>📂{{ . }}</a></span>
            {{ end }}
        </div>
        {{ end }}
        <div class="post-content">
            {{ .Summary }}……
        </div>
        <p class="readmore"><a href="{{ .Permalink }}">阅读全文</a></p>
    </article>
    {{ end }}
    {{ end }}
    {{ partial "paginator" . }}
</div>
{{ end }}
